:root {
    --primary: #fe0303;
    --light: #eeeeee;
    --dark: #212121;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--dark);
    font-family: 'Poppins',sans serif;
}

.logo{
    color: var(--light);
    text-transform: uppercase;
    letter-spacing:5px;
    font-size: 20px;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    margin-top: 12px;
    margin-bottom: 5px;
}



.menu .act{
    background-color: var(--primary);
    border-radius: 15px;
    padding-top: 5px;
    margin-top: 7px;
    padding-bottom: 5px;
}

.menu .act:hover{
    background-color: var(--light);
    
}

.menu .act a:hover{
    color: var(--primary);
}

.menu .act a{
    border-radius: 15px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.menu a{
    color: var(--light);
    text-decoration: none;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 12px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--light);
    margin: 5px;
    transition: all 0.3s ease;
}
.speakers {
    width: 1245 px;

    margin: 20px auto;

}

.speakers h3 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(6, 53, 53);
}

.speakers .box {
    position: relative;
    top: 30%;
    width: 400px;
    height: 450px;
    background-color: rgb(5, 224, 236);
    border-color: #090000;
    margin: 25px;
    float: left;

}

.speakers .box .imgBox {
    position: relative;
    overflow: hidden;

}

.imgBox {
    border: 2px solid black;
}

.speakers .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}
.speakers .box:hover .imgBox img {
    transform: scale(1.2);
}

.speakers .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgb(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform 0.5s;
}

.speakers .box:hover .details {
    transform: scaleY(1);
}

.speakers .box .details .content {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
    padding: 10px;
    color: white;
}

.speakers .box .details .content h2 {
    margin: 10px;
    padding: 0;
    font-size: 20px;
    color: orange;
}
@media screen and (max-width:1024px){
    .menu{
        width: 60%;
    }
}

@media screen and (max-width:900px){
    body{
        overflow-x: hidden;
    }
    .menu{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .menu li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes menuFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
} 

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
