.speakers {
    width: 1245 px;

    margin: 20px auto;

}

.speakers h3 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgb(6, 53, 53);
}

.speakers .box {
    position: relative;
    top: 30%;
    width: 400px;
    height: 450px;
    background-color: rgb(5, 224, 236);
    border-color: #090000;
    margin: 25px;
    float: left;

}

.speakers .box .imgBox {
    position: relative;
    overflow: hidden;

}

.imgBox {
    border: 2px solid black;
}

.speakers .box .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}



.speakers .box:hover .imgBox img {
    transform: scale(1.2);
}

.speakers .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgb(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform 0.5s;
}

.speakers .box:hover .details {
    transform: scaleY(1);
}

.speakers .box .details .content {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
    padding: 10px;
    color: white;
}

.speakers .box .details .content h2 {
    margin: 10px;
    padding: 0;
    font-size: 20px;
    color: orange;
}
