:root {
    --primary: #fe0303;
    --light: #eeeeee;
    --dark: #212121;
    --slider-padding: 5rem;
    --handle-size: 3rem;
    --img-gap: .25rem;
}

*,*::after,*::before {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

nav{
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--dark);
    font-family: 'Poppins',sans serif;
}


.logo img{
    width: 25%;
    height: auto;
    margin-top: 5px;
}

.logo img{
    cursor: pointer;
}




body{
    margin: 0;
    background: #000;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li{
    list-style: none;
    
    margin-top: 12px;
    margin-bottom: 5px;
}

.Tracks-Header{
    height: 3em;
    color: #fff;
    margin: auto;
    width: 5em;
    font-size: 2em;
    font-family: 'Poppins',sans serif;

}

.Domains-Header{
    height: 3em;
    color: #fff;
    margin: auto;
    width: 7em;
    font-size: 2em;
    font-family: 'Poppins',sans serif;

}



.menu .act{
    background-color: var(--primary);
    border-radius: 15px;
    padding-top: 5px;
    margin-top: 7px;
    padding-bottom: 5px;
}

.menu .act:hover{
    background-color: rgb(129, 2, 2)
}


.menu .act a{
    width: 100%;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 11px;
    padding-bottom: 8px;
}

.menu a{
    color: var(--light);
    text-decoration: none;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 12px;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: var(--light);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1250px){
    .menu{
        width: 60%;
    }
}

@media screen and (max-width:950px){
    body{
        overflow-x: hidden;
    }
    .menu{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: var(--dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .menu li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes menuFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
} 

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}


.container{
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.slider{
    --slider-index: 0;
    object-fit: contain;
    display:flex;
    flex-grow: 1;
    margin: 0 var(--img-gap);
    transform: translateX(calc(var(--slider-index)*-100%));
    transition: transform 250ms ease-in-out;
    
}

.slider>img{
    flex: 0 0 25%;
    max-width: 25%;
    aspect-ratio: 16/14;
    padding: var(--img-gap);
    border-radius: 1rem;
    overflow: hidden;
}

.handle{
    border: none;
    border-radius: 1rem;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: var(--dark);
    z-index: 10;
    margin: var(--img-gap) 0;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 3rem;
    display: flex;
    padding: 0 .2rem;
    align-items: center;
    justify-content: center;
    color: var(--light);
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.handle:hover,
.handle:focus{
    background-color: #000;
}

.text{
    transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text{
    transform:scale(1.2);
}

.left-handle:hover::after{
    content: \2039;
}

.right-handle:hover::after{
    content: \203A;
}


.header{
    display: flex;
    padding: .5rem calc(var(--img-gap)*2+var(--handle-size));
    justify-content: space-between;
}

.title-domain{
    font-size: 2rem;
    margin: 0;
}


.home{
    height: 100vh;
    background-color: #000;
    color: #fff;
}

.home-inner1{
    height: 60vh;
    display: flex;
    width: 100%;
}

.home-inner11{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.home-inner11-title{
    font-size: 2.2rem;
    text-align: center;
    padding-top: 10vh; 
    font-family: 'Poppins',sans serif;
}

.home-inner11-button{
    display: flex;
    justify-content: center;
}

.home-register {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.home-register a {
    position: relative;
    transition: all .45s ease-Out;
    text-decoration: none;
}

.home-register #translate {
    transform: rotate(50deg);
    width: 100%;
    height: 250%;
    left: -200px;
    top: -35px;
    background: var(--primary);
    position: absolute;
    transition: all .3s ease-Out;
}

.home-register:hover #translate {
    left: 0;
}

.home-register:hover a {
    color: var(--light);
}

.home-register a{
    color: var(--primary);
    font-size: 1.2rem;
    font-family: 'Poppins',sans serif;
    padding-top: 6px;
}

.home-register{
    height: 50px;
    width: 150px;
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    border-color: var(--primary);
    padding-top:2px;
    transition:border-color 0.3s ease-in-out ;
}

.home-register:hover{
    border-color: var(--light);
    transition:border-color 0.3s ease-in-out ;
}


.home-inner12{
    width: 40%;
    display: flex;
    padding-top: 10vh;
}


.home-inner12-logo{
    object-fit: contain;
    align-items: center;
    display: flex;
}

.home-img{
    /* display: block; */
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    
}

.home-inner2{
    margin-top: 10vh;
    height: 30vh;
    font-family: 'Poppins',sans serif;
}

.home-counter-title{
    font-size: 2.2rem;
    font-weight: bold;
}

.container-day,.container-hour,.container-minute,.container-second{
    text-align: center;
    font-size: 1.3rem;
}

.home-inner2-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: space-around;
}

.home-countdown{
    display: flex;
    width: 100%;
    justify-content: space-around;
}



@media screen and (max-width:950px){
    .home{
        width: 100%;
        height:100vh;
    }
    .home-inner1{
        flex-direction: column-reverse;
        width: 100%;
        height: 70vh;
    }
    .home-inner11{
        width: 100%;
        height: 25vh;
        padding-bottom: 5vh;
    }
    .home-inner11-title{
        padding-bottom: 5vh;
    }
    
    .home-inner12{
        width: 100%;
        height: 45vh;
        display: inline-block; 
        vertical-align: middle;
    }
    .home-inner12-logo{
        object-fit: contain;
    }
    .home-inner2{
        height: 30vh;
        margin-top: 0;
    }
    .logo img{
        margin-left: 10px;
    }
    .burger{
        margin-right: 10px;
    }
    .home-register{
        width: 45%;
        height: 60px;
    }
    #translate{
        display: none;
    }
    .home-register a{
        margin-top: 1px;
        font-size: 1.6rem;
    }
    .home-counter-title{
        font-size: 2.5rem;
        margin-top: 5vh;
    }
    .home-countdown{
        margin-bottom: 5vh;
    }
}

@media screen and (max-height:1200px) and (min-height:1000px){
    .home-inner12-logo img{
        width: 45%;
    }
}


.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}
  

 
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 90px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 50%;
    position: relative;
    height: 70vh;
    /* transition: all 5s ease-in-out; */
}

.popup h2 {
    margin-top: 0;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color:rgba(110, 109, 109, 0.4);
    transition: all 0.5s ease-in-out;
}

.popup .close:hover {
    transition: all 0.5s ease-in-out;
    color: var(--light);
}

.popup .content {
    height: 90%;
    overflow: auto;
    font-family: 'Poppins',sans serif;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}


.content{
    align-items: center;
}

.content button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: none;
}

.popup{
    text-align: center;
    font-size: 1.2rem;
}


.popup{
    z-index: 1;
    background-color: rgba(36, 33, 33, 0.4);
    color: var(--light);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.container-1,.container-2,.container-3,.container-4{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.container-11,.container-12,.container-21,.container-22,.container-31,.container-32{
    width: 50%;
    height: 50px;
}

.popup-input{
    width: 90%;
    height: 35px;
    text-align: center;
    background-color: var(--dark-background);
    border: solid 1px var(--light);
    border-radius: 20px;
    color: var(--light);
}

#form-mobile::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.popup-input:focus{
    outline: none;
}

.container-4 button{
    width: 35%;
    height: 40px;
    border-radius: 20px;
    font-size: 1.3rem;
    transition: all 0.3s ease-in-out;
    border: none;
}

.container-4 button:hover{
    letter-spacing: 2px;
    text-shadow: 5px 5px 10px #000;
    transition: all 0.3s ease-in-out;
}

.span-name,.span-reg,.span-mobile,.span-email,.span-discord{
    font-size: 0.8rem;
    font-style: italic;
}


.about{
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: var(--light);
    background-color: #000;
}

.about-container1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-container2 video{
    z-index: 0;
}

@media screen and (max-width:950px){
    .about{
        display: none;
    }
}

#select-popup-input option { 
    -webkit-border-radius:25px;
    -moz-border-radius:50px; 
    border-radius:25px; 
    color: var(--light); 
    background-color:var(--dark);
}


@media only screen and (max-width:760px){
    .container-1,.container-2,.container-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: 100%;
        align-items: center;
    }
    
    .popup{
        width: 95%;
        height: 85vh;
    }

    .container-11,.container-12,.container-21,.container-22,.container-31,.container-32{
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: ;
        width: 100%;
        height: 70px;
    }
    .span-name,.span-reg,.span-mobile,.span-email,.span-discord{
        position: relative;
    }
}

@media only screen and (min-width: 761px) and (max-width: 950px){
    .popup{
        width: 70%;
        margin-top: 10vh;
        padding-top: 5vh;;
    }
}



.about{
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: var(--light);
    background-color: #000;
    font-family: 'Poppins',sans serif;
}
.Button-about
{
    background-color: var(--primary);
    color: var(--light);
    border-radius: 15px;
    padding: 1em;
    margin-top: 7px;
    cursor: pointer;

}

.about-container1{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about-container2 video{
    z-index: 0;
}

@media screen and (max-width:950px){
    .about{
        display: none;
    }
}

.sliderTrack {
    height: 250px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(250px * 27);
    animation: scroll 20s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused;
}


@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}
.slide {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
img {
    width: 100%;
    transition: transform 1s;
}

img:hover {
    transform: translateZ(20px);
}


.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 2%;
    z-index: 2;
}
.slider::before {
    left: 0%;
    top: 0;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(-180deg);
}
.speakers {
    width: 1245 px;

    margin: 3em 11em;

}

.speakers h3 {
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    
}

.speakers .Spbox {
    position: relative;
    top: 30%;
    width: 20em;
    height: 33em;
    border-color: #090000;
    margin: 25px;
    float: left;

}

.speakers .SPbox .imgBox {
    position: relative;
    overflow: hidden;

}

.imgBox {
    border: 2px solid black;
}

.speakers .Spbox .imgBox img {
    max-width: 100%;
    transition: transform 2s;
}



.speakers .Spbox:hover .imgBox img {
    transform: scale(1.2);
}

.speakers .Spbox .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgb(0, 0, 0, 0.8);
    transform: scaleY(0);
    transition: transform 0.5s;
}

.speakers .Spbox:hover .details {
    transform: scaleY(1);
}

.speakers .Spbox .details .content {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    text-align: center;
    padding: 10px;
    color: white;
}

.speakers .Spbox .details .content h2 {
    margin: 10px;
    padding: 0;
    font-size: 20px;
    color: orange;
}


@media screen and (max-width:1024px) {
    .menu {
        width: 60%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
.faqcontainer {
clear:both;
  margin: 0 auto;
  padding: 4rem;
  padding-top: 0em;
  width: 48rem;
}

.faqcontainer h2 {
  text-align: center;
  font-size: 40px;
  border: 2px solid grey;
  width: 40%;
  background-color: rgba(211, 211, 211, 0.884);
  border-radius: 20px;
}

@font-face {
  font-family: "ubuntu";
  font-style: italic;
  font-weight: 300;
  src: local("Lato Light Italic"), local("Lato-LightItalic"),
    url(https://fonts.gstatic.com/s/ubuntucondensed/v8/u-4k0rCzjgs5J7oXnJcM_0kACGMtT-Dfqw.woff2)
      format("woff2");
}

a {
  text-decoration: none;
  color: #9ca0b1;
}

.wrapper {
  display: flex;
  justify-content: center;
}
.wrapper h1 {
  color: #fff;
  font-size: 92px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
  background: linear-gradient(to right, #e83436 10%, #f57979 50%, #f84f4f 60%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 1.5s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.faqmain .faqmain-item {
  border-bottom: 1px solid #fff;
}

.faqmain .faqmain-item button[aria-expanded="true"] {
  border-bottom: 1px solid #df0707;
}

.faqmain button {
  position: relative;
  display: block;
  text-align: left;
  padding-left: 10px;
  width: 100%;
  padding: 1em 0;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background: none;
  outline: none;
}

.faqmain button:hover,
.faqmain button:focus {
  /* cursor: pointer; */
  color: #df0707;
}

.faqmain button:hover::after,
.faqmain button:focus::after {
  cursor: pointer;
  color: #df0707;
  border: 1px solid #df0707;
}

.faqmain-title {
  text-align: center;
}

.faqmain button .faqmain-title {
  padding: 1em 1.5em 1em 0;
}

.faqmain button .faqicon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.faqmain button .faqicon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.faqmain button .faqicon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.faqmain button[aria-expanded="true"] {
  color: #df0707;
}
.faqmain button[aria-expanded="true"] .icon::after {
  width: 0;
}

.faqmain button[aria-expanded="false"] {
  color: #fff;
}
.faqmain button[aria-expanded="true"] + .main-content {
  opacity: 1;
  max-height: 9em;
  transition: all 600ms linear;
  will-change: opacity, max-height;
}
.faqmain .faqmain-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 600ms linear, max-height 600ms linear;
  will-change: opacity, max-height;
}
.faqmain .faqmain-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}


header p {
  padding: 50px;
  text-align: center;
  color: #bebebe;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 700;
}
.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 50px;
  color: #fff;
  background-color: darkblue;
}

.footer img {
  width: 250px;

}
.footer > * {
  flex: 1 100%;
}

.l-footer {
  margin-right: 1.25em;
  /* margin-bottom: 2em; */
}

/* -- */
.footer {
  width: 100%;
  height:100%;
}

.footer {
    background: linear-gradient(-45deg, #090909, #c33d3d, #403b3b, #000000);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/*  */

/* h2 {
  font-weight: 400;
  font-size: 22px;
} */

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.fbox li a{
  font-size: 17px;
}

.fbox li a:hover{
  color: rgb(237, 64, 64);
}

.footer a {
  text-decoration: none;
}

.r-footer {
  display: flex;
  flex-flow: row wrap;
}

.r-footer > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.fbox a {
  color: #999;
}

.socialss{
    /* display: flex; */
    flex-direction: column;
}

.socialss a{
  font-size: 25px;
  margin-right: 20px;
  /* padding-bottom: 10px; */
}

.h-box {
  column-count: 2;
  column-gap: 1.25em;
}

.b-footer {
  text-align: center;
  color: #999;
  padding-top: 50px;
}

.l-footer p {
  padding-right: 20%;
  color: #999;
}

@media screen and (min-width: 600px) {
  .r-footer > * {
    flex: 1;
  }

  .features {
    flex-grow: 2;
  }

  .l-footer {
    flex: 1 0px;
  }

  .r-footer {
    flex: 2 0px;
  }
}


